<!-- CSS -->
<div id="css_1" data-tab="css" data-title="Tiêu đề 2 dòng">
<textarea spellcheck="false" readonly>
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
</textarea>
</div>

<!-- JS -->
<div id="js_1" data-tab="js" data-title="Remove toàn bộ ID, Class động trong FS">
<textarea spellcheck="false" readonly>
<script>
  document.addEventListener("DOMContentLoaded", function() {
  
    document.querySelectorAll('[id^="section_"], [id^="row-"], [id^="col-"]').forEach(el => {
      el.removeAttribute('id');
    });
  
  });
</script>
</textarea>
</div>

<!-- FUNCTION -->
<div id="func_1" data-tab="func" data-title="Active SVG in FS">
  <textarea spellcheck="false" readonly>
    function allow_svg_upload($mimes) {
      $mimes['svg']  = 'image/svg+xml';
      $mimes['svgz'] = 'image/svg+xml';
      return $mimes;
    }
    add_filter('upload_mimes', 'allow_svg_upload');
  
    function fix_svg_mime_type($data, $file, $filename, $mimes) {
  
        $filetype = wp_check_filetype($filename, $mimes);
  
        if ($filetype['ext'] === 'svg') {
            $data['ext'] = 'svg';
            $data['type'] = 'image/svg+xml';
        }
  
        return $data;
    }
    add_filter('wp_check_filetype_and_ext', 'fix_svg_mime_type', 10, 4);
  </textarea>
</div>


