<div class="tool-panel" data-tab="code">
  <div class="code-subtabs" role="tablist" aria-label="Code snippets">
    <button class="code-subtab active" type="button" data-code-tab="html" role="tab" aria-selected="true">
      HTML
    </button>
    <button class="code-subtab" type="button" data-code-tab="js" role="tab" aria-selected="false">
      JS
    </button>
    <button class="code-subtab" type="button" data-code-tab="css" role="tab" aria-selected="false">
      CSS
    </button>
  </div>

  <div class="code-tab-panels">
    <div class="code-tab-panel is-active" data-code-panel="html" role="tabpanel">
      <div class="code-cards-grid" id="code-panel-html"></div>
    </div>
    <div class="code-tab-panel" data-code-panel="js" role="tabpanel">
      <div class="code-cards-grid" id="code-panel-js"></div>
    </div>
    <div class="code-tab-panel" data-code-panel="css" role="tabpanel">
      <div class="code-cards-grid" id="code-panel-css"></div>
    </div>
  </div>
</div>